{% extends "base.html" %}

{% block title %}Vue{% endblock title %}

{% block content %}
<div id="app">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="pagination justify-content-center">
            <li class="page-item">
              <a @click.prevent="fetchStories(pagination.prev_page_url)" class="page-link btn-link" href="" :class="{ disabled: !pagination.prev_page_url }">
                Предыдущая страница
              </a>
            </li>
            <li class="page-item" v-for="page in pagination.page_range" :class="{ active: page === pagination.current_page }">
              <a class="page-link" @click.prevent="fetchStories('/api/stories/?page=' + page)" href="">
                ${page}
              </a>
            </li>
            <a @click.prevent="fetchStories(pagination.next_page_url)" class="page-link btn-link" href="" :class="{ disabled: !pagination.next_page_url }">
                Следующая страница
            </a>
          </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <tr>
            <th>#</th>
            <th>Сюжет</th>
            <th>Автор</th>
            <th>Кол-во голосов</th>
            <th>Действия</th>
          </tr>
          <tr v-for="(story, index) in stories" :key="index" is="story" :story="story" :index="index"></tr>
        </table>

        <p class="lead">
          Вот список всех ваших историй.
          <button type="button" @click="createStory()" class="btn btn-primary">
            Добавить новую историю?
          </button>
        </p>
        <pre>${ $data }</pre>
      </div>
    </div>
  </div>
</div>

<template id="template-story-raw">
  <tr>
    <td>${index + 1}</td>
    <td>
      <input v-if="story.editing" v-model="story.plot" class="form-control">
      <span v-else>${story.plot}</span>
    </td>
    <td>
      <input v-if="story.editing" v-model="story.writer" class="form-control">
      <span v-else>${story.writer}</span>
    </td>
    <td>${story.upvotes}</td>
    <td>
      <div v-if="!story.editing" class="btn-group">
        <button type="button" @click="upvoteStory(story)" class="btn btn-primary">
          Проголосовать
        </button>
        <button type="button" @click="editStory(story)" class="btn btn-dark">
          Редактировать
        </button>
        <button type="button" @click="deleteStory(story)" class="btn btn-danger">
          Удалить
        </button>
      </div>
      <div class="btn-group" v-else>
        <button type="button" v-if="story.uuid" class="btn btn-primary" @click="updateStory(story)">
          Обновить историю
        </button>
        <button type="button" v-else class="btn btn-success" @click="storeStory(story)">
          Сохранить историю
        </button>
        <button type="button" @click="story.editing=false" class="btn btn-light">
          Отмена
        </button>
      </div>          
    </td>
  </tr>
</template>

{% csrf_token %}
{% endblock content %}